body{
    background-color: black;
}
.nav-img{
    height: 30px;
}
.ustmenu{
	position: fixed!important; top:0px; left:0px; right:0px; 
    z-index: 1;
}

.sidebarKucuk{
    width: 250px;
    height: 365px
}

.sidebarBuyuk{
    width: 250px;
    height: 450px
}

#nav-input:hover{
    box-shadow: 0 0 10px antiquewhite!important;;
    transition: 0.5s;
}

.shopping-cart-list{
    position:fixed!important;
    width: 30%;
    // right: -25rem!important;
    background-color: #2b3034;
    border: 1px solid #6a7379;
    border-radius: 8px;
    margin-top: 11px;
    z-index: 1;
    height: 150px; /* İçeriği göstermek için bir alan boyutu belirledik */
    overflow-y: scroll; /* Dikey kaydırma çubuğunu göster */
    padding: 10px;

    .list-item{
        margin-top: 1rem;
    }
}

#main{
    height: auto;
    margin-bottom: 30px;
}
// Sidebar elemenları açılması kodları başlangıç

.acilmis{
    display: none;
}

.dondur{
    transform: rotate(90deg);
    transition: 0.5s;
}

.goster{
    display: inline!important;
}

.text-decoration-none{
    cursor: pointer;
}

// Sidebar elemenları açılması kodları bitiş

.content {
    height: 600px!important; /* İçeriği göstermek için bir alan boyutu belirledik */
    overflow-y: scroll; /* Dikey kaydırma çubuğunu göster */
    border: 1px solid #ccc;
    padding: 10px;
}

@media (max-width: 300px) {
    #sidebar{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20%;
       }
}

@media (max-width: 768px) {
   #sidebar{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20%;
       }
}
